<h1>User profile</h1>
<%= current_user.email %>
<h3><%= link_to 'Create a new post', new_user_post_path(current_user) %></h3>
<h3><%= link_to 'View All Posts', user_posts_path(current_user) %></h3>
<h3>Your Posts</h3>
<ol>
  <% if @posts %>
  <%= render @posts %>
  <% else %>
  <p>
    You haven't written any posts yet!
  </p>
  <% end %>
</ol>
