<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<h4>Here be <%= @post.user.email %>'s post content:</h4>
<p><%= @post.content %></p>
<br>
<%= link_to "Edit post", edit_post_path(@post) if @owner_viewing_post %><br>
<%= link_to "Delete post", post_path(@post), method: :delete if @owner_viewing_post %>
