<div>
  <p>A post by <%= @post.user.email %></p>
  <p><%= @post.content %></p>
  <% if @user == current_user || current_user.vip? || current_user.admin? %>
    <a href="/posts/<%= "#{@post.id}" %>/edit">Edit</a>
  <% end %>
</div>