<p>Created by: <%= @post.user.email %></p>
<p><%= @post.content %></p>
<% if @post.user == current_user || current_user.vip? || current_user.admin? %>
  <a href="/posts/<%= "#{@post.id}" %>/edit">Edit</a>
  <%= link_to "Delete", {:controller => :posts,
      :action => 'destroy', :id => @post.id }, :method => :delete %>
<% end %>