<ul>
    <li><%= link_to("Home") %></li>
    <li><%= link_to("Sign out", destroy_user_session_path, method: 'delete') %></li>
    <li><%= link_to("Sign in") %></li>
    <li><%= link_to("Sign up") %></li>
</ul>
